<!DOCTYPE html>
<html>
  <head>
    <title>Swimlane API Service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Swimlane API Service</h1>
    <p>You have reached the API Service for the Swimlane tracker. Please read the readme file for endpoints.</p>
  </body>
</html>
